<table class="tabella">
    <tr>
      <td class="cella">
        <fieldset>
          <legend> <b>Postgres:</b> Partenza prevista</legend>
          <select id="menuPostgres">    
          </select>
        </fieldset>
      </td>
      <td class="cella">
        <fieldset>
          <legend> <b>Mongo:</b> Aeroporti</legend>
          <select  id="menuMongo">
        </select>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td class="cella">
        <fieldset>
          <legend> <b>Dynamo:</b> Compagnie</legend>
          <select  id="menuDynamo">
        </select>
        </fieldset>
      </td>
      <td class="cella">
        <fieldset>
          <legend> <b>Cassandra:</b> Id Volo</legend>
          <select id="menuCassandra">
        </select>
        </fieldset>
      </td>
    </tr>
  </table>
