<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrapt CSS-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Titolo pagina-->
    <title>Database WebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  </head>
  <body>
        

    <button id="myButton">Clicca per Eseguire lo Script</button>

    <div id="output"></p>
    

    <fieldset>
      <legend>Postgres: Partenza prevista</legend>
      <select id="menuPostgres">
<!--         <option value="http://www.html.it" selected="selected">www.html.it </option>
 -->      
      </select>
    </fieldset>

    <fieldset>
      <legend>Mongo: Aeroporti</legend>
      <select  id="menuMongo">
<!--         <option value="http://www.html.it" selected="selected">www.html.it </option>
 --> 
     </select>
    </fieldset>

    <fieldset>
      <legend>Dynamo: Compagnie</legend>
      <select  id="menuDynamo">
<!--         <option value="http://www.html.it" selected="selected">www.html.it </option>
 --> 
     </select>
    </fieldset>

     </select>
    </fieldset>

    <fieldset>
      <legend>Cassandra: Id Volo</legend>
      <select id="menuCassandra">
<!--         <option value="http://www.html.it" selected="selected">www.html.it </option>
 --> 
     </select>
    </fieldset>

    <script src="../static/scriptCassandra.js"></script>
    <script src="../static/scriptPostgres.js" ></script>
    
    <script src="../static/scriptMongo.js"></script>
    <script src="../static/scriptDynamo.js"></script>

<!--     <script         src="{{ url_for('static', filename='scriptPostgres.js') }}"
        type="module"
    ></script>
    
    <script         src="{{ url_for('static', filename='scriptMongo.js') }}"
        type="module"
    ></script>
    <script         src="{{ url_for('static', filename='scriptDynamo.js') }}"
        type="module"
    ></script>
    <script         src="{{ url_for('static', filename='scriptCassandra.js') }}"
    type="module"
></script> -->

  </body>
</html>
