<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrapt CSS--> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Titolo pagina-->
    <title>Database WebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="stileCSS.css">
  

  </head>

  <body>
    <button id="mostraBottone">Leggenda parametri</button>
    
    <img id="immagine" src="C:\Users\39331\Documents\GitHub\ProgettoBig\flask_app\img\fly.png" alt="Descrizione dell'immagine">
    
    <!-- Bottone per chiudere l'immagine -->
    <button id="chiudiBottone" style="display: none;">Chiudi Immagine</button>
    
    <script>
        var bottoneMostra = document.getElementById('mostraBottone');
        var bottoneChiudi = document.getElementById('chiudiBottone');
        var immagine = document.getElementById('immagine');
        
        bottoneMostra.addEventListener('click', function() {
            immagine.style.display = 'block';
            bottoneChiudi.style.display = 'block'; // Mostra il bottone di chiusura
        });
        
        bottoneChiudi.addEventListener('click', function() {
            immagine.style.display = 'none'; // Nascondi l'immagine
            bottoneChiudi.style.display = 'none'; // Nascondi il bottone di chiusura
        });
    </script>
</body>



    <div class="external" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
      <div class="internal" >
        <fieldset>
          <legend> <b>Postgres:</b> Partenza prevista</legend>
          <select id="menuPostgres">    
          </select>
        </fieldset>
      </div>

      <div class="internal" >
        <fieldset>
          <legend> <b>Mongo:</b> Aeroporti</legend>
          <select  id="menuMongo">
        </select>
        </fieldset>
      </div>
    </div>

    <div class="external" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
      <div class="internal" >
        <fieldset>
          <legend> <b>Dynamo:</b> Compagnie</legend>
          <select  id="menuDynamo">
        </select>
        </fieldset>
      </div>

      <div class="internal" >
        <fieldset>
          <legend> <b>Cassandra:</b> Id Volo</legend>
          <select id="menuCassandra">
        </select>
        </fieldset>
      </div>
    </div>

    <div id="output"></div>

    <div>
      <iframe src="http://neodash.graphapp.io/" style="width: 100%;height: 500px"></iframe>
    </div>
    <script src="../static/scriptCassandra.js" type="module" ></script>
    <script src="../static/scriptPostgres.js" type="module" ></script>
    <script src="../static/scriptMongo.js" type="module" ></script>
    <script src="../static/scriptDynamo.js" type="module" ></script>
  </body>
</html>
