<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrapt CSS-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Titolo pagina-->
    <title>Database WebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  </head>
  <body>
        

    <button id="myButton">Clicca per Eseguire lo Script</button>

    <div id="output"></p>
    

    <fieldset>
      <legend>Siti per webmaster</legend>
      <select name="siti" id="menu1">
        <option value="http://www.html.it" selected="selected">www.html.it </option>
      </select>
    </fieldset>

    <!-- <script>
      const outputElement = document.getElementById('menu1');
      const response = fetch(`http://localhost:8080/connPostgres`, { method: 'GET',
                                                                      headers: { 'Accept': 'application/json',},
      }).then(response => response.json()).then(dataArray => { 
       for (i in dataArray){
          console.log(dataArray[i])
          var paragraph = document.createElement("option");
          paragraph.textContent= dataArray[i]
          outputElement.appendChild(paragraph)
          //outputElement.textContent += `Risultato dello script: ${dataArray[i]}`;
      }
    })  
    </script> -->
    <script src="../script/script.js"></script>
  </body>
</html>
